PROJECT_NAME=DevTrackr

DOMAIN=localhost
FRONTEND_HOST=http://localhost:5173

# Environment: development, staging, production
ENVIRONMENT=

BACKEND_PORT=8000
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173"
# can be generated with openssl rand -hex 16
SECRET_KEY=changeme

# can be generated with `python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())`
ENCRYPTION_KEY=changeme

# Database settings
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme
POSTGRES_DB=devtrackr_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Frontend
VITE_API_URL=http://localhost:8000
FRONTEND_PORT=5173

# GitHub OAuth
# Create a GitHub OAuth App at https://github.com/settings/developers
# Set the Authorization callback URL to: http://localhost:5173/api/auth/github/callback
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_PRIVATE_KEY_PATH=
GITHUB_APP_SLUG=

# Brevo Email settings
SMTP_PORT=
SMTP_HOST=
SMTP_LOGIN=
SMTP_API_KEY=
EMAILS_FROM_EMAIL=
EMAILS_FROM_NAME=
